.ListaBotones {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
    gap: 0.8rem;
}

.BotonesContacto {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: gray;
    color: white;
    transition: transform 0.3s ease-in-out;
}

.BotonesContacto:hover {
    transform: scale(1.2);
  }