.ul {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
    overflow: hidden;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
}

.li {
  background-color: #2b2b2b;
  padding: 1rem;
  border-radius: 0.8rem;
  border:  0.15rem solid #2b2b2b;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.li:hover {
  border:  0.15rem solid #474747;
}

.a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.a:hover .h1,
.a:hover .p {
  color: #33ff57;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.img{
    height: 100%;
    width: 100%;
    border-radius: 0.8rem;
    margin: 0 0 0.4rem 0;
    padding: 0 0 0 0;
    transition: 100ms all ease-in-out;
    opacity: 100%;
    border: 0.15rem solid #2b2b2b;
}

.h1 {
    font-size: larger;
}

.h1, .p{
    color: white;
    text-align: left;
    margin: 0;
    padding: 0.8rem 0 0 0;
    transition: 100ms ease-in-out;

}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .ul {
      gap: 1.8rem;
    }
  }
  
  @media screen and (min-width: 1025px) {
    .ul {
      gap: 1.8rem;
    }

    .img{
      opacity: 90%;
    }

    .img:hover{
      opacity: 100%;
    }
  }