
    .Header {
        display: flex;
        box-sizing: border-box;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;        
        margin: 3rem 1rem 1rem 1rem;
    }
    
    .Env{
      display: flex;
        box-sizing: border-box;
        flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .Img {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      filter: invert(0%) !important;     
    }

    .H1 {
        color: white;
        margin: 0;
        margin-top: 1.2rem;
        font-family: Poppins;
    }

    .H2 {
        color: white;
        margin: 1rem 0 1rem 0;
    }
    
  
  
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    .Header {
        margin: 1rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 1.5rem 0 1rem 0;
    }
    
    .Img {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;      
    }

    .H1 {
        margin: 0;
        margin-top: 1.2rem;
        font-family: Poppins;
    }

    .H2 {
        margin: 1rem 0 1rem 0;
    }
  }
  
  @media screen and (min-width: 1025px) {
    .Header {
       display: flex;
       box-sizing: border-box;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: space-between;
       padding: 10rem 0 10rem 0;
    }
    
    .Env {
      display: flex;
      box-sizing: border-box;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 1.2rem;
    }
    
    .Img {
      display: flex;
      box-sizing: border-box;
      flex-wrap: nowrap;      
      align-items: end;
      order: 3;
      height: 18rem;
      width: 18rem;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      
    }

    .H1 {
        
        font-family: Poppins;
        font-size: 4rem;
        margin: 0;
        padding: 0;
    }

    .H2 {
      
      margin: 0;
      padding: 0;
      font-size: 2.5rem;
    }

    .Contactos {
      
      margin: 0;
      padding: 0;
    }

  }
  