
    .Header {
        display: flex;
        box-sizing: border-box;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 1rem 1rem 1rem;
    }
    
    .Env{
      display: flex;
        box-sizing: border-box;
        flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .Img {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      filter: invert(0%) !important;     
    }

    .H1 {
        color: white;
        margin: 0;
        margin-top: 1.2rem;
        font-family: Poppins;
        font-size: 2rem;
    }

    .transition {
      transition: color 2.5s ease-in-out; 
    }

    .H2 {
        color: white;
        margin: 1rem 0 1rem 0;
        font-size: 1.8rem;
        color: yellowgreen;
    }
    
  
  
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    .Header {
        margin: 1rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 1.5rem 0 1rem 0;
    }
    
    .Img {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;      
    }

    .H1 {
        margin: 0;
        margin-top: 1.2rem;
        font-family: Poppins;
        font-size: 3rem;
    }

    .H2 {
        margin: 1rem 0 1rem 0;
        font-size: 2.5rem;
    }
  }
  
  @media screen and (min-width: 1025px) {
    .Img {
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      filter: invert(0%) !important;     
    }

    .H1 {
      color: white;
      margin: 0;
      margin-top: 1.2rem;
      font-family: Poppins;
      font-size: 3rem;
  }

    .H2 {
        color: white;
        margin: 1rem 0 1rem 0;
        font-size: 2.5rem;
        color: yellowgreen
    }
  }
  